body {
    background-image: url("Images/background2.jpg");
    background-attachment: fixed;
}

@font-face {
    font-family: 'HintRetro'; /*a name to be used later*/
    src: url('fonts/hint_retro/hint-retrï_free-version.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Hacked'; /*a name to be used later*/
    src: url('fonts/hacked/HACKED.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'EdgeRacer'; /*a name to be used later*/
    src: url('fonts/edge_racer/edgeracer.tff'); /*URL to font*/
}

Header {
	text-align: center;
    color: #1ec503;
    font-family: 'EdgeRacer';
	font-size: 70px;
	text-shadow: 6px 5px #000033;
}
hackedtitle {
	/*text-align: left;*/
	
    padding-left: 20%;
    color: #99ff33;
    font-family: 'Hacked';
	font-size: 40px;
	
	/*text-shadow: 6px 5px #000033;*/
}

/* Credits:
Fonts:
Hacked Font: http://bit.ly/WatchDogsFont

*/
